.container{
    background-color: #a7dfc0;
    border-radius: 10px;
    padding: 1em;
    width: 30%;
}

.lista {
    list-style: none;
    width: 100%;
}

.lista li{
    margin: 1em;
}

.link {
    text-decoration: none;
    background-color: #84af97;
    padding: .4em;
    border-radius: 5px;
    transition: all .3s;
    color: aliceblue;
}

.link:hover {
    background-color: rgb(69, 161, 161);
    color: rgb(0, 0, 0);
}
@media(max-width: 500px) {
    .container{
        width: 70%;
    }
}