.container{
    background-color: #8bc59b;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    width: 15%;
    height: 10%;
}

.container button{
    border: none;
    transition: all .3s;
    border-radius: 5px;
    padding: .4em;
}

.container button:hover{
    background-color: rgb(177, 70, 70);
    color: aliceblue;
    cursor: pointer;
}


@media(max-width: 500px) {
    body{
        margin: 0;
        padding: 0;
    }
    .container{
        
        margin: .5em;
        padding: .5em;
        width: 40%;
        height: 22%;
    }

    .container h2 {
        font-size: 1.1em;
    }

    .container p{
        font-size: .8em;
    }

    .container button{
        font-size: .8em;
    }
}